<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lemenk.sys.mapper.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.lemenk.sys.entity.UserRole">
        <result column="userId" property="userId" />
        <result column="roleId" property="roleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userId, roleId
    </sql>

    <!--根据用户名删除用户角色信息-->
    <delete id="deleteRoleUserByUsername" parameterType="string">
        DELETE from tb_user_role
        WHERE userId IN(
            SELECT id
            FROM tb_user
            WHERE username=#{username}
            );
    </delete>

</mapper>
