<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lemenk.common.mapper.ProcessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.lemenk.common.entity.Process">
        <id column="id" property="id" />
        <result column="proc_name" property="procName" />
        <result column="available" property="available" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, proc_name, available
    </sql>

</mapper>
